html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

p {
  font-weight: bold;
  font-size: 1.2vw;
}

select {
  color: #000;
  font-weight: bold;
  width: 96px;
  height: 48px;
  margin: 0 8px 0 0;
}

.rhythmImg {
  width: 88px;
  height: 64px;
  margin: 0 24px 0 0;
}

#tata,#eighthRest{
  border: 0.2vw solid lightgreen;
}

#tan,#quarterRest{
  border: 0.2vw solid lightblue;
}

#ta_n{
  border: 0.2vw solid yellow;
}

#ta__n{
  border: 0.2vw solid lightpink;
}

.playSettings {
  margin: 4vw auto;
  width: 48%;
}

#tempo_category {
  background-color: #eee8aa;
}

.buttons {
  display: flex;
  margin: 80px 0 0;
  justify-content: space-between;
}

button {
  width: 8vw;
  height: 4vw;
  border-radius: 8px;
  border: none;
  color: black;
  font-size: 16px;
}

.beat button{
  width: 96px;
  height: auto;
}

#play_mode {
  background-color: #eedab9;
}

#oneBack{
  background-color: lightgray;
}

.piano {
  display: flex;
  width: 100vw;
  height: 20vw;
  margin: 8px 0 0;
  border: 0.8vw solid #ffff00;
  border-radius: 4px;
}

.white {
  position: relative;
  width: 424vw;
  background-color: white;
  border: 1px solid gray;
}

.white p {
  position: absolute;
  bottom: 0;
  left: 1vw;
}

.black {
  width: 120vw;
  height: 8vw;
  background-color: black;
  margin: 0 -1.4vw;
  z-index: 2;
}


.abcjs-inline-midi {
  height: 48px;
  padding: 0 5px;
  border-radius: 3px;
  color: #f4f4f4;
  background-color: #424242;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.abcjs-inline-midi .abcjs-btn {
  width: 28px;
  height: 26px;
  display: inline-block;
  margin-right: 2px;
  padding: 0;

  background: none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f4f4f4;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.fa5 .abcjs-inline-midi .abcjs-btn {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.abcjs-inline-midi .abcjs-btn:hover {
  color: #cccccc;
}

.abcjs-inline-midi .abcjs-midi-selection:before {
  content: "\f07e"; /* fa-arrows-h [&#xf07e;] */
}

.abcjs-inline-midi .abcjs-midi-selection.abcjs-pushed {
  border: 1px solid #cccccc;
  background-color: #666666;
  box-sizing: border-box;
}

.abcjs-inline-midi .abcjs-midi-loop:before {
  content: "\f021"; /*   fa-refresh [&#xf021;] */
}

.abcjs-inline-midi .abcjs-midi-loop.abcjs-pushed {
  border: 1px solid #cccccc;
  background-color: #666666;
  box-sizing: border-box;
}

.abcjs-inline-midi .abcjs-midi-reset:before {
  content: "\f048"; /*   fa-step-backward [&#xf048;] */
}

.abcjs-inline-midi .abcjs-midi-reset.abcjs-pushed {
  border: 1px solid #cccccc;
  background-color: #666666;
  box-sizing: border-box;
}

.abcjs-inline-midi .abcjs-midi-start:before {
  content: "\f04b"; /*   fa-play [&#xf04b;]    fa-pause [&#xf04c;] */
}

.abcjs-inline-midi .abcjs-midi-start.abcjs-pushed:before {
  content: "\f04c"; /*   fa-play [&#xf04b;]    fa-pause [&#xf04c;] */
}

.abcjs-inline-midi .abcjs-midi-start.abcjs-pushed.abcjs-loading {
  outline: none;
  animation: a 1s infinite steps(8);
}

.abcjs-inline-midi .abcjs-midi-start.abcjs-pushed.abcjs-loading:before {
  content: "\f110"; /*   fa-loading */
}

.abcjs-inline-midi .abcjs-midi-progress-background {
  background-color: #424242;
  height: 10px;
  border-radius: 5px;
  border: 2px solid #cccccc;
  margin: 0 8px 0 15px;
  position: relative;
  flex: 1;
  padding: 0;
  box-sizing: border-box;
}

.abcjs-inline-midi .abcjs-midi-progress-indicator {
  width: 20px;
  margin-left: -10px; /* half of the width */
  height: 14px;
  background-color: #f4f4f4;
  position: absolute;
  display: inline-block;
  border-radius: 6px;
  top: -4px;
  left: 0;
  box-sizing: border-box;
}

.abcjs-inline-midi .abcjs-midi-clock,
.abcjs-inline-midi .abcjs-midi-post {
  margin-left: 4px;
  margin-top: 0;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.abcjs-inline-midi .abcjs-midi-pre {
  display: inline-block;
  box-sizing: border-box;
}

.abcjs-inline-midi .abcjs-tempo-wrapper {
  font-size: 10px;
  display: inline-block;
  color: #f4f4f4;
  box-sizing: border-box;
}

.abcjs-inline-midi .abcjs-midi-tempo {
  border-radius: 2px;
  border: none;
  margin: 1px 2px 0 4px;
  width: 32px;
  padding-left: 2px;
  box-sizing: border-box;
}

